@* Menú de navegación para la app *@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">rp_giprocomex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Inicio</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/employees">Empleados</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/employees/edit/0">Nuevo empleado</NavLink>
                </li>
                @* Agrega más enlaces según módulos *@
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Manage">Mi cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Identity/Account/Logout">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>