@namespace rp_giprocomex.Web.Shared

<nav class="app-sidebar" aria-label="Menú principal">
  <div class="sidebar-brand">
    <a href="/" class="brand-link">rp_giprocomex</a>
  </div>

  <ul class="sidebar-nav">
    <li><NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Inicio</NavLink></li>
    <li><NavLink href="/employees" class="nav-link">Empleados</NavLink></li>
    <li><NavLink href="/employees/edit" class="nav-link">Nuevo empleado</NavLink></li>
  </ul>
</nav>